:root {
  --base-color-neutral--background: #060808;
  --_font-family---paragraph: Inter, sans-serif;
  --base-color-neutral--white: #fff;
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --base-color-neutral--neutral-light: #aaa;
  --_color---hot-toddy-lightest: #f7f2e6;
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --_color---red-devil-darkest: #260009;
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral: #666;
  --base-color-brand--transparent: #fff0;
  --_color---red-devil-dark: #660019;
  --_color---hot-toddy: darkgoldenrod;
  --_color---red-devil-light: #a64c62;
  --_color---red-devil: #800020;
  --base-color-brand--blue-light: #d9e5ff;
  --_color---hot-toddy-light: #cdaa54;
  --_color---red-devil-darker: #33000c;
  --base-color-brand--glossy: #f2e5e81a;
  --_font-family---heading: "Open Sans", sans-serif;
  --_color---red-devil-lightest: #f2e5e8;
  --base-color-brand--opacity-white-50: #ffffff80;
  --_color---red-devil-lighter: #e5ccd2;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --base-color-brand--pink: #dd23bb;
  --base-color-brand--pink-dark: #3c043b;
  --_color---hot-toddy-lighter: #f0e6ce;
  --base-color-neutral--neutral-lighter: #ccc;
  --_color---hot-toddy-dark: #936b08;
  --_color---hot-toddy-darker: #493504;
  --_color---hot-toddy-darkest: #372803;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--base-color-neutral--background);
  font-family: var(--_font-family---paragraph);
  color: var(--base-color-neutral--white);
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom, .margin-bottom.margin-xxsmall, .margin-bottom.margin-xsmall, .margin-bottom.margin-small, .margin-bottom.margin-xxlarge {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-top.margin-medium.is-logo {
  position: absolute;
  inset: 3rem auto auto -10rem;
  transform: rotate(-45deg);
}

.margin-top.margin-small {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom, .padding-bottom.padding-xxlarge {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-1x1-large.is-logo {
  flex: none;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.text-align-center.is-content {
  z-index: 10;
  position: relative;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: 1px solid var(--base-color-neutral--neutral-light);
  background-color: var(--_color---hot-toddy-lightest);
  color: var(--text-color--text-primary);
  text-align: center;
  cursor: pointer;
  border-radius: .75rem;
  padding: .75rem 2rem;
  font-weight: 600;
  transition: all .29s cubic-bezier(.645, .045, .355, 1);
}

.button:hover {
  box-shadow: 0 15px 40px #ffffff24;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--base-color-neutral--white);
  background-color: #0000;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-center {
  justify-content: center;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.section_hero {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: sticky;
  top: 0%;
  overflow: hidden;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.navbar_component {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background-color: #fffc;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  position: fixed;
  top: auto;
  bottom: 0%;
}

.navbar-on-page {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.navbar_container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  display: flex;
}

.navbar_logo-link {
  padding-left: .5rem;
  display: none;
}

.navbar_arrow-link {
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}

.navbar_menu {
  align-items: center;
}

.navbar_menu-link-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar_link {
  color: var(--base-color-neutral--black);
  padding: 0;
}

.navbar_link.w--current {
  color: var(--base-color-neutral--black);
}

.navbar_button-wrapper {
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar_menu-button {
  color: var(--base-color-neutral--neutral);
  padding: 0;
}

.hero_component {
  z-index: 1;
  position: relative;
}

.section_services {
  z-index: 1;
}

.services_wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch start;
  display: grid;
}

.service-card_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-image: linear-gradient(15deg, var(--_color---red-devil-dark) 52%, var(--_color---hot-toddy));
  box-shadow: 0 0 2px 0 var(--_color---red-devil-light);
  border-radius: 1rem;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.layout246_item-icon-wrapper {
  display: inline-block;
}

.section_about {
  position: relative;
}

.about_component {
  z-index: 1;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-image: linear-gradient(180deg, var(--base-color-brand--transparent) 13%, var(--_color---red-devil));
  border-radius: 1.5rem;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
  display: flex;
  position: relative;
}

.section_our-process {
  position: relative;
}

.our-process_component {
  z-index: 2;
  position: relative;
}

.our-process_content {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
  position: relative;
}

.our-process_content-left {
  position: sticky;
  top: 20%;
}

.our-process_timeline-wrapper {
  position: relative;
}

.our-process_progress-bar-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 2px;
  height: 85%;
  margin-bottom: 5rem;
  display: flex;
  position: absolute;
  top: 5%;
  left: 1.9rem;
  right: auto;
}

.our-process_progress-bar {
  background-color: var(--base-color-brand--blue-light);
  width: 2px;
  height: 100%;
}

.our-process_timeline-step {
  grid-column-gap: 2.5rem;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.our-process_timeline-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.our-process_timeline-icon-wrapper {
  z-index: 1;
  margin-top: -1.5rem;
  padding: 1rem;
  position: relative;
}

.section_testimonial {
  position: relative;
}

.testimonial_component {
  z-index: 1;
  position: relative;
}

.testimonial_list {
  column-count: 3;
  justify-content: center;
  column-gap: 2rem;
  display: flex;
}

.testimonial_card {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-image: linear-gradient(15deg, var(--_color---red-devil-dark) 50%, var(--_color---hot-toddy-light));
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  overflow: hidden;
}

.icon-embed-xsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.testimonial_client {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: left;
  align-items: center;
  display: flex;
}

.testimonial_customer-image {
  object-fit: cover;
  border-radius: 100%;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
}

.section_portfolio {
  position: relative;
}

.portfolio_component {
  z-index: 10;
  position: relative;
}

.portfolio_content {
  flex-direction: column;
  align-items: center;
}

.portfolio_list {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: flex;
}

.portfolio_item-link {
  color: var(--base-color-neutral--white);
  border-radius: 1rem;
  max-width: 32rem;
  margin-bottom: 3rem;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px #0003;
}

.portfolio_image-wrapper {
  z-index: 1;
  color: var(--base-color-neutral--white);
  width: 100%;
  height: 18rem;
  position: relative;
  overflow: hidden;
}

.portfolio_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio_title-wrapper {
  z-index: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
  position: relative;
}

.section_cta {
  overflow: hidden;
}

.cta_component {
  z-index: 1;
  background-color: var(--_color---red-devil-darker);
  border-radius: 1rem;
  padding: 3.5rem 1rem;
  position: relative;
  overflow: hidden;
}

.footer_top-wrapper {
  grid-column-gap: 4vw;
  grid-row-gap: 2.5rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  place-items: center stretch;
  padding-top: 3rem;
  display: flex;
}

.footer_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: flex;
}

.footer_link {
  color: var(--base-color-neutral--neutral-light);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .27s;
}

.footer_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  display: flex;
}

.footer_social-link {
  color: var(--base-color-neutral--neutral-light);
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  transition: all .25s cubic-bezier(.455, .03, .515, .955);
  display: flex;
}

.footer_social-link:hover {
  color: var(--base-color-neutral--white);
  transform: scale(1.07);
}

.divider-horizontal {
  background-color: var(--base-color-neutral--neutral);
  width: 100%;
  height: 1px;
}

.footer_bottom-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  color: var(--base-color-neutral--neutral);
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: flex;
}

.footer_credit-text {
  font-size: .875rem;
}

.hero_wrapper {
  z-index: 10;
  flex-flow: column;
  align-items: center;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.tagline_wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--base-color-neutral--white);
  box-shadow: 0 0 4px 0 var(--text-color--text-alternate);
  color: var(--_color---red-devil);
  border-radius: .75rem;
  align-items: center;
  padding: .125rem .75rem .125rem .5rem;
  display: flex;
}

.tagline_available-blink {
  background-color: var(--_color---red-devil);
  box-shadow: 0 0 5px 0 var(--_color---red-devil-light);
  border-radius: 100rem;
  width: .5rem;
  height: .5rem;
}

.tagline_blink_wrapper, .tagline_blink_border {
  border: 1px solid var(--base-color-brand--transparent);
  border-radius: 100rem;
  padding: .25rem;
}

.services_overlay {
  background-color: var(--base-color-brand--glossy);
  pointer-events: none;
  position: absolute;
  inset: 0%;
}

.section_bg-wrapper {
  background-color: var(--base-color-neutral--background);
  position: sticky;
  top: 0%;
  overflow: hidden;
}

.hero_background_image_wrapper {
  filter: blur(60px);
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
  transform: rotate(180deg);
}

.hero_background_image_wrapper.is-our-process {
  inset: 0% auto 0% 0%;
}

.hero_background_image_wrapper.is-testimonial {
  inset: 0% 0% auto auto;
}

.hero_background_image_wrapper.is-cta {
  filter: blur(30px);
  inset: 0% auto 0% 0%;
}

.hero_background_image_wrapper.is-cta-right {
  filter: blur(30px);
  inset: 0% 0% 0% auto;
}

.hero_background_image_wrapper.is-portfolio {
  inset: 0% auto 0% 0%;
}

.background_wrapper1 {
  z-index: 5;
  background-color: var(--_color---red-devil);
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  width: 20rem;
  height: 12rem;
  position: absolute;
}

.background_wrapper2 {
  background-color: var(--_color---red-devil-dark);
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  width: 30rem;
  height: 20rem;
  position: absolute;
}

.about_profile_wrapper {
  box-shadow: 0 10px 20px 0 var(--base-color-brand--glossy);
  border-radius: 100%;
  width: 8rem;
  overflow: hidden;
}

.hero_background_elipse {
  height: 100%;
  position: absolute;
  inset: -2rem auto auto -1rem;
}

.hero_background_elipse.is-right {
  inset: 0% 0% auto auto;
}

.hero_background_wrapper {
  background-color: var(--base-color-neutral--black);
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.portfolio_item_background_grid {
  background-image: url('../images/Background-Grid.webp');
  background-position: 0 0;
  background-size: 9px;
  background-attachment: scroll;
  position: absolute;
  inset: 0%;
}

.portfolio_item_background_grid.is-overlay {
  background-image: linear-gradient(250deg, var(--_color---hot-toddy), var(--_color---red-devil) 92%);
}

.portfolio_item_background_grid.is-grid {
  opacity: .29;
}

.portfolio_tag_wrapper {
  border: 1px solid var(--base-color-neutral--neutral-lightest);
  color: var(--base-color-neutral--white);
  border-radius: .75rem;
  padding: .5rem 1rem;
  box-shadow: 0 2px 5px #fff3;
}

.navbar_cta_wrapper {
  display: flex;
}

.hero_logo_carousel_wrapper {
  z-index: 10;
  position: relative;
}

.hero_logo_carousel {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 1rem;
  display: flex;
}

.our-process_bullet {
  background-color: var(--base-color-neutral--neutral-lightest);
  border-radius: 100%;
  width: .75rem;
  height: .75rem;
}

.project_status {
  background-color: var(--_color---red-devil);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: .75rem;
  padding: .75rem 1rem;
  position: absolute;
  inset: 0% auto auto 0%;
}

.infinity-loading-blue {
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 1440px) {
  .hero_background_image_wrapper.is-cta {
    left: 10%;
    transform: rotate(0);
  }

  .hero_background_image_wrapper.is-cta-right {
    right: 10%;
  }
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top.margin-medium.is-logo {
    top: 2rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .main-wrapper.max-width-full.is-main {
    position: relative;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .navbar_component {
    background-color: var(--base-color-neutral--white);
    width: 80%;
    margin: 1.5rem auto 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    inset: 0% 0% auto;
  }

  .navbar_container {
    grid-template-columns: auto 1fr;
    width: 100%;
    padding-left: 0;
  }

  .navbar_logo-link {
    object-fit: cover;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding-left: 0;
    display: block;
    overflow: hidden;
  }

  .navbar15_logo {
    object-fit: cover;
    max-width: none;
    height: 100%;
  }

  .navbar_arrow-link {
    display: none;
  }

  .navbar_menu {
    background-color: var(--_color---red-devil-darkest);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    justify-content: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    position: absolute;
    overflow: auto;
  }

  .navbar_menu-link-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
  }

  .navbar_link {
    color: var(--base-color-neutral--neutral-lightest);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: .875rem;
  }

  .navbar_link.w--current {
    color: var(--base-color-neutral--white);
    font-weight: 700;
  }

  .navbar_button-wrapper {
    align-items: center;
  }

  .navbar_menu-button {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .navbar_menu-button.w--open {
    background-color: var(--base-color-brand--transparent);
    color: var(--base-color-neutral--neutral);
  }

  .services_wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .our-process_content {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .our-process_content-left {
    position: relative;
    top: 0%;
  }

  .our-process_progress-bar-wrapper {
    height: 85%;
  }

  .our-process_timeline-step {
    grid-column-gap: 1.5rem;
  }

  .testimonial_list {
    column-count: 2;
  }

  .testimonial_card {
    width: auto;
  }

  .portfolio_list {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .footer_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .hero_background_image_wrapper.is-cta {
    left: -6rem;
  }

  .hero_background_image_wrapper.is-cta-right {
    right: -6rem;
  }

  .hero_background_elipse, .navbar_cta_wrapper {
    display: none;
  }

  .navbar_lottie {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top.margin-medium.is-logo {
    position: absolute;
    inset: -1.5rem 0% auto -14rem;
    transform: rotate(-45deg);
  }

  .margin-top.margin-medium.is-margin {
    margin-top: 4rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .navbar_component {
    margin-top: 1.25rem;
  }

  .navbar_container {
    min-height: 4rem;
  }

  .navbar_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar_menu-link-wrapper {
    padding: 1.25rem;
  }

  .services_wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .about_component {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .our-process_content {
    grid-template-columns: 1fr;
  }

  .our-process_progress-bar-wrapper {
    left: 1.4rem;
  }

  .our-process_timeline-icon-wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .testimonial_list {
    column-count: 1;
    flex-flow: column;
    align-items: center;
  }

  .testimonial_card {
    width: auto;
    padding: 1.5rem;
  }

  .testimonial_client {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .portfolio_list {
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    column-count: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .cta_component {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    grid-auto-flow: row;
    justify-items: center;
  }

  .footer_bottom-wrapper {
    grid-auto-flow: row;
    justify-items: center;
    padding-bottom: 1rem;
  }

  .footer_credit-text {
    margin-top: 1rem;
  }

  .hero_background_image_wrapper.is-our-process, .hero_background_image_wrapper.is-testimonial {
    display: none;
  }

  .hero_background_image_wrapper.is-cta {
    inset: 0% 0% auto;
  }

  .hero_background_image_wrapper.is-cta-right, .hero_background_image_wrapper.is-portfolio {
    display: none;
  }

  .background_wrapper2 {
    width: 30rem;
    height: 18rem;
  }

  .hero_logo_carousel {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top.margin-medium.is-logo {
    top: 2rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .services_wrapper {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .about_component {
    background-image: linear-gradient(180deg, var(--base-color-brand--transparent), var(--_color---red-devil));
  }

  .our-process_content {
    grid-template-columns: 1fr;
  }

  .portfolio_title-wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .portfolio_item-link{
    width: 100%;
  }
}

#w-node-e699535d-1fd0-b96b-1bc9-d76eb693a4ef-b693a4db {
  justify-self: end;
}

#w-node-_40ec7d76-0bdc-19e3-bb0b-b3293db9cf63-3db9cf5f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_40ec7d76-0bdc-19e3-bb0b-b3293db9cf65-3db9cf5f {
  justify-self: center;
}

#w-node-_40ec7d76-0bdc-19e3-bb0b-b3293db9cf6f-3db9cf5f {
  justify-self: end;
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-de193dad {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-de193dad, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-de193dad {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-de193dad {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-de193dad {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-de193dad {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-de193dad, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-de193dad {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-de193dad {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-de193dad, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-de193dad {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-de193dad {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-e699535d-1fd0-b96b-1bc9-d76eb693a4ef-b693a4db {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e699535d-1fd0-b96b-1bc9-d76eb693a4f6-b693a4db {
    grid-area: 4 / 1 / 5 / 2;
  }
}


